
<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h1 style="color: aliceblue;">Customer  operation</h1>
        <div class="d-flex">
          <button routerLink = "/bookdashboard">Book</button>
            <button (click) = " clickAddCustomer()" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success" >Add Customer</button>
            <button routerLink = "/login">Logout</button>
        </div>
    </div>
</nav>
<table class="table mt-3">
    <thead>
        <tr>
            <th scope="col">Employee ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email-Id</th>
            <th scope="col">Mobile</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody >
        <tr *ngFor = "let row of customerData">
            <td>{{row.id}}</td>
            <td>{{row.firstName}}</td>
            <td>{{row.lastName}}</td>
            <td>{{row.email}}</td>
            <td>{{row.phone}}</td>
            <td>
                <button (click) = "onEdit(row)"class="btn btn-info"type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button>
                <button (click)="deleteCustomer(row)" class="btn btn-danger mx-3">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Customer Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup] = "formValue">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">First Name</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="firstName">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Last Name</label>
                  <input type="text" class="form-control" id="exampleInputPassword1" formControlName="lastName">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email-id</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="email">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Mobile-no</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="phone">
                  </div>
               
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="cancle" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" *ngIf="showAdd"(click) = "postCustomerDetails()" class="btn btn-primary">Add</button>
          <button id="cancle" type="button" *ngIf="showUpdate" (click) = "updateCustomerDetails()" class="btn btn-primary">Update</button>
        </div>
      </div>
    </div>
  </div>