<nav class="navbar navbar-light bg-danger">
    <div class="container-fluid">
        <h1>Book Operations</h1>
        <button routerLink = "/dashboard">Dashboard</button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click) = "clickAddBook()" >Add book</button>
    </div>
</nav>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Book-id</th>
            <th scope="col">Book Name</th>
            <th scope="col">Author</th>
            <th scope="col">Year</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let row of bookData">
            <td>{{row.id}}</td>
            <td>{{row.bookName}}</td>
            <td>{{row.author}}</td>
            <td>{{row.year}}</td>
            <td>
                <button (click) = "onEdit(row)" type="button"  data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn btn-primary">Edit</button>
                <button (click)="deletBook(row)" class="btn btn-danger mx-3">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">BookDetails</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup] = "formValue">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Book Name</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="bookName">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Author</label>
                  <input type="text" class="form-control" id="exampleInputPassword1" formControlName="author">
                </div>
                
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">year</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="year">
                  </div>
               
              </form>
        </div>
        <div class="modal-footer">
          <button  id="cancle" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button *ngIf= "showAdd" type="button" class="btn btn-primary" (click) ="postBookDetails()">Add</button>
          <button *ngIf = "showUpdate" id="cancle" (click) = "updateBookDetails()" type="button" class="btn btn-primary" (click) ="postBookDetails()">Update</button>
        </div>
      </div>
    </div>
  </div>